{% from 'bootstrap5/form.html' import render_form %}
{% extends "layout.html" %}
{% block content %}
<div class="row  justify-content-md-center">
    <div class="col-sm-6">
<div class="card">
    <div class="card-header">Edit Plant</div>
    <div class="card-body">
{{ render_form(form, form_type="horizontal", horizontal_columns=('lg', 4, 8)) }}
</div></div>
</div>
</div>
{% endblock %}