<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Planty</title>

    {{ bootstrap.load_css() }}
    <link href="{{ url_for("static", filename="fontawesome/css/all.min.css")}}" rel="stylesheet">
    <script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js" integrity="sha256-ErZ09KkZnzjpqcane4SCyyHsKAXMvID9/xwbl/Aq1pc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@2.0.0/dist/chartjs-adapter-date-fns.bundle.min.js" integrity="sha256-xlxh4PaMDyZ72hWQ7f/37oYI0E2PrBbtzi1yhvnG+/E=" crossorigin="anonymous"></script>    <style>
    .container {
        max-width: 960px;
      }
      
      .pricing-header {
        max-width: 700px;
      }

      .planty-icon {
          margin-right: 0.5rem;
          font-size: 32px;
      }

      .title {
        color: rgb(47, 159, 14);
      }

      .meter-container {
          display: flex;
          align-items: center;
          margin: 3px 0px;
      }

      .meter {
          position: relative;
        flex: 1;
        margin-left: 5px;
        height: 8px;
        background-color: #f1f1f1;
        border-radius: 2px;
        overflow: hidden;
      }


      .meter-marker {
          position: absolute;
          z-index: 10;
          height: 8px;
          width: 2px;
          display: block;
          background-color: white;
      }

      .meter-bar {
          position: absolute;
          z-index: 5;
          height: 8px;
          display: block;
      }


      .meter > .good {
        background-color: rgba(43,194,83,1);
      }
      .meter > .bad {
        background-color: rgba(240,163,163);
      }
      .meter > .unavailable {
        background-color: rgba(158,158,158,1);
      }
    </style>
      
</head>

<body>
    <div class="container py-3">
        <header>
            <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center text-decoration-none title">
                    <i class="fa-solid fa-seedling planty-icon"></i>
                    <span class="fs-4">Planty</span>
                </a>

                <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                    {% block topnav %}{% endblock %}
                </nav>
            </div>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer class="pt-4 my-md-5 border-top  text-center">
            <small class="d-block mb-3 text-muted">&copy; 2022 Christian Speich</small>
        </footer>
    </div>

    {{ bootstrap.load_js() }}
</body>

</html>