{% extends "layout.html" %}

{% macro render_meter(icon, value, good_min, good_max, val_min, val_max, unit) %}
<!-- value={{value}} good_min={{good_min}} good_max={{good_max}} val_min={{val_min}} val_max={{val_max}}-->
<div class="col-6 meter-container" title="{{value or '?'}}{{unit}} ({{good_min}}{{unit}} - {{good_max}}{{unit}})">
    <span class="iconify" data-icon="{{icon}}"></span>
    <span class="meter">
        {% if value is none %}
        <span class="meter-bar unavailable" style="width: 100%"></span>
        {% elif value < good_min or value> good_max %}
            <span class="meter-bar bad" style="width: {{ (value - val_min) / (val_max - val_min) * 100}}%"></span>
            {% else %}
            <span class="meter-bar good" style="width: {{ (value - val_min) / (val_max - val_min) * 100}}%"></span>
            {% endif %}
            {% if good_min is not none %}
            <span class="meter-marker" style="left: {{ (good_min - val_min) / (val_max - val_min) * 100}}%"></span>
            {% endif %}
            {% if good_max is not none %}
            <span class="meter-marker" style="left: {{ (good_max - val_min) / (val_max - val_min) * 100}}%"></span>
            {% endif %}
    </span>
</div>
{% endmacro %}

{% macro render_battery(value) %}
<!-- battery={{value}}-->
<span title="{{value}}%">
{% if value is none %}
{% elif value > 80 %}
<i class="fa-solid fa-battery-full"></i>
{% elif value > 60 %}
<i class="fa-solid fa-battery-three-quarters"></i>
{% elif value > 40 %}
<i class="fa-solid fa-battery-half"></i>
{% elif value > 10 %}
<i class="fa-solid fa-battery-quarter"></i>
{% else %}
<i class="fa-solid fa-battery-empty"></i>
{% endif %}
</span>
{% endmacro %}

{% macro render_updated(value) %}
<!-- updated={{value}}-->
<span title="{{value or 'Never'}}">
<i class="fa-solid fa-clock-rotate-left"></i>
{% if value is none %}
    Never
{% else %}
{{value|relative_datetime}}
{% endif %}
</span>
{% endmacro %}

{% block topnav %}
<a class="me-3 py-2 text-muted text-decoration-none" href="{{ url_for('new_plant')}}">Add Plant</a>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        {% for p in plants %}
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-4">
                        <img src="{{ url_for('plant_img', id=p.id)}}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{{ url_for('show_plant', id=p.id) }}">{{p.name}}</a></h5>
                            <div class="container">
                                <div class="row">
                                    {{ render_meter("mdi:white-balance-sunny", p.last_light, p.min_light, p.max_light, 0, 50000, "lx") }}
                                    {{ render_meter("mdi:thermometer", p.last_temp, p.min_temp, p.max_temp, 0, 40, "°C") }}
                                    {{ render_meter("mdi:water-percent", p.last_soil_moist, p.min_soil_moist, p.max_soil_moist, 0, 100, "%") }}
                                    {{ render_meter("mdi:leaf", p.last_soil_ec, p.min_soil_ec, p.max_soil_ec, 0, 1000, "µS/cm") }}
                                </div>
                            </div>
                            <div class="">
                                <small class="text-muted">
                                    {{ render_updated(p.last_updated) }}
                                    {{ render_battery(p.last_battery) }}
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}