{% macro render_chart(key) %}
<h5>{{key}}</h5>
<canvas id="chart-{{key}}" height="100"></canvas>
<script>
  function draw_{{ key }} () {
    const ctx = document.getElementById('chart-{{key}}').getContext('2d');
    const data = {
      datasets: [{
        /* label: 'My First Dataset',*/
        data: {{ chart_data[key]|tojson }},
      fill: false,
      borderColor: 'rgb(75, 192, 192)',
      tension: 0.1
  }]
};
  const config = {
    type: 'bar',
    data: data,
    options: {
      scales: {
        x: {
          // The axis for this scale is determined from the first letter of the id as `'x'`
          // It is recommended to specify `position` and / or `axis` explicitly.
          type: 'time',
          time: {
            {% if duration == "1d" %}
            unit: "hour",
            {% else %}
            unit: "day",
            {% endif %}
            displayFormats: {
              hour: 'HH'
            }
          },
        }
      },
      plugins: {
        legend: {
          display: false,
        },
      },
    },
  };
  const myChart = new Chart(ctx, config);
};

draw_{{ key }}();
</script>
{% endmacro %}

{% macro render_duration(d) %}
<li class="page-item {{ duration==d and 'active' }}" aria-current="page">
  <a href="{{url_for('show_plant', id=plant.id, duration=d)}}" class="page-link">{{ d }}</a>
</li>
{% endmacro %}

{% extends "layout.html" %}
{% block topnav %}
<a class="me-3 py-2 text-muted text-decoration-none" href="{{ url_for('edit_plant', id=plant.id)}}">Edit</a>
{% endblock %}
{% block content %}
<h2>{{plant.name}}</h2>

<nav aria-label="...">
  <ul class="pagination pagination-sm">
    {{ render_duration("1d") }}
    {{ render_duration("7d") }}
    {{ render_duration("14d") }}
    {{ render_duration("30d") }}
    {{ render_duration("1y") }}
  </ul>
</nav>

{{ render_chart('soil_moist') }}
{{ render_chart('soil_ec') }}
{{ render_chart('light') }}
{{ render_chart('temp') }}
{{ render_chart('battery') }}


{% endblock %}